# Second Brain - Requirements


# LangChain
langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.5
langchain-text-splitters==0.2.0

# Gemini
langchain-google-genai==1.0.6
google-generativeai==0.5.4

# Vector DB
chromadb==0.4.24

# PDF
pypdf==4.2.0

# Utilities
python-dotenv==1.0.1
pydantic==2.7.1
requests==2.32.2
streamlit==1.35.0